header{
    font-family:fantasy;
    background-color:papayawhip;
    color:aquamarine;
    text-align: center;
    padding:40px;
    font-size: 30px;

}
nav{
    background-color: aquamarine;
    margin: 0;
    padding:30px;
}
#welcome{
    position:absolute;
    top: 420px;
    right:450px;
    left:200px;
    font-family: fantasy;
    font-size: 40px;
    color: aquamarine;

}

#maininfo{
    position: absolute;
    top: 500px;
    right:400px;
    left: 200px;
    font-family: fantasy;
    color:black;
    
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
    text-align:center;

}
li{
    display:inline;
    padding:20px;
    align-items: center;
    text-align:center;

}
main{
    background-color:papayawhip;
    padding:1000px;
    

}

a:link{
    text-decoration:none;
    color:papayawhip;
    font-family: fantasy;
    font-size:30px;

}
a:visited{
    text-decoration:none;
    color:papayawhip;
    font-family: fantasy;
    font-size:20px;
}
a:hover{
    text-decoration:none;
    color:ivory;
    font-size:40px;

}



footer{
font-family: Arial, Helvetica, sans-serif;
}